<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgicreate.rno.gsm.mapper.query.FrequencyReuseMapper">
    <select id="queryFrequencyReuse" parameterType="map" resultType="map">
        select DCHNO, BCCHNO
        from <foreach collection="frequencyreusedate" item="date" index="index" open="" close="" separator=",">cdd_rlcfp_${date}</foreach> as cdd_rlcfp,
        <foreach collection="frequencyreusedate" item="date" index="index" open="" close="" separator=",">cdd_rldep_${date}</foreach>
        as cdd_rldep
        where cdd_rldep.Date = cdd_rlcfp.Date
        and cdd_rldep.cell = cdd_rlcfp.cell
        and cdd_rldep.cell in (select distinct CELL
        from
        <foreach collection="frequencyreusedate" item="date" index="index" open="" close="" separator=",">
            cdd_rldep_${date}</foreach>
        <if test="frequencyreusebsc!=null">
            where BSC in
            <foreach collection="frequencyreusebsc" item="bsc" index="index" open="(" close=")" separator=",">
                '${bsc}'
            </foreach>
        </if>)
    </select>
</mapper>