<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="base :: common_header(~{::title},~{::link},~{::meta},~{::script})">
    <title>工单管理</title>
    <!--自定义-->
    <script src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script src="/static/js/query/workOrderClosedCycle.js" th:src="@{/js/query/workOrderClosedCycle.js}"></script>
    <link>
</head>
<body>
<div id="loading" class="loading" style="display:none">加载中...</div>
<div id="info" class="info-style" style="display:none"></div>
<div class="row-fluid">
    <div class="col-lg-12 collapse" style="border:1px solid #DDDDDD;margin-top: 22px" id="collapseExample">
        <div class="col-lg-12">
            <h4><strong>全部</strong>
            </h4>
            <table id="allTable" class="table">
            </table>
        </div>
        <div class="col-lg-12">
            <h4><strong>完结</strong></h4>
            <table id="finishedTable" class="table">
            </table>
        </div>
        <div class="col-lg-12">
            <h4><strong>超时</strong></h4>
            <table id="overTimeTable" class="table">
            </table>
        </div>
    </div>
<div class="col-lg-12 bs-callout bs-callout-danger" id="callout-tables-striped-ie8">
    <form id="workOrderClosedCycleForm" action="exportWorkOrder" method="post">
        <!--/*@thymesVar id="linage" type="java"*/-->
        <input type="hidden" id="linage" name="linage" th:value="${linage}"/>
        <input type="hidden" id="hiddenCurrentPage" name="hiddenCurrentPage" value="1"/>
        <input type="hidden" id="hiddenTotalPageCnt" name="hiddenTotalPageCnt"/>
        <input type="hidden" id="hiddenTotalCnt" name="hiddenTotalCnt"/>
        <input type="hidden" id="chineseName" name="chineseName" th:value="${session.user.chineseName?:null}">
        <table class="table-style">
            <tbody>
            <tr>

                <td class="td-style" style="margin-left: 30px"><label class="label-style" for="dateSelect"><font class="star-style"> *</font>日期：</label>
                    <select class="form-control" style="width: 150px; display: inline-block" id="dateSelect"
                            name="dateSelect">
                        <option value="-1" selected></option>
                        <!--/*@thymesVar id="date" type="java"*/-->
                        <option th:each="oneDate:${date}" th:value="${oneDate}" th:text="${oneDate}"></option>
                    </select>
                </td>
                <td class="td-style td-space">
                    <button type="button" id="dateBtn" class="btn btn-default" data-toggle="modal"
                            data-target="#myModal">
                        <i class="glyphicon glyphicon-forward"></i>
                    </button>
                </td>

                <td class="td-style" style="margin-left: -5px"><label class="label-style2" for="indicatorSelect">工单类型：</label>
                    <select class="form-control" style="width: 150px; display: inline-block" id="indicatorSelect"
                            name="indicatorSelect">
                        <option value="-1" selected></option>
                        <!--/*@thymesVar id="indicator" type="java"*/-->
                        <option  th:each="oneIndicator:${indicator}" th:value="${oneIndicator}" th:text="${oneIndicator}"></option>
                    </select>
                </td>
                <td class="td-style td-space">
                    <button type="button" id="indicatorBtn" class="btn btn-default" data-toggle="modal"
                            data-target="#myModal">
                        <i class="glyphicon glyphicon-forward"></i>
                    </button>
                </td>
            </tr><tr>
                <td class="td-style"><label class="label-style2" for="indicatorSelect">小区：</label>
                    <select class="form-control" style="width: 150px; display: inline-block" id="cellSelect"
                            name="cellSelect">
                        <option value="-1" selected></option>
                        <!--/*@thymesVar id="cell" type="java"*/-->
                        <option  th:each="oneCell:${cell}" th:value="${oneCell}" th:text="${oneCell}"></option>
                    </select>
                </td>
                <td class="td-style td-space">
                    <button type="button" id="cellBtn" class="btn btn-default" data-toggle="modal"
                            data-target="#myModal">
                        <i class="glyphicon glyphicon-forward"></i>
                    </button>
                </td>
                <td class="td-style"><label class="label-style" for="statusSelect">工单状态 ：</label>
                    <select class="form-control" style="width: 150px; display: inline-block" id="statusSelect"
                            name="statusSelect">
                        <option value="-1" selected></option>
                        <!--/*@thymesVar id="maintain" type="java"*/-->
                        <option value="受理中">受理中</option>
                        <option value="待审核">待审核</option>
                        <option value="完结">完结</option>
                        <option value="超时">超时</option>
                        <option value="挂起">挂起</option>
                        <option value="已退回">已退回</option>
                    </select>
                </td>
                <td class="td-style td-space">
                    <button type="button" id="statusBtn" class="btn btn-default" data-toggle="modal"
                            data-target="#myModal">
                        <i class="glyphicon glyphicon-forward"></i>
                    </button>
                </td>
                <td class="td-style td-right-space form-inline">
                    <label class="label-style2">工单号：</label>
                    <input type="text" name="workOrderNum" id="workOrderNum"
                           placeholder="请输入工单号" class="form-control" style="display:inline-block;width: 150px"/>
                </td>
                <td class="td-style td-space">
                    <button type="button" id="searchBtn" class="btn-width btn btn-default">查询</button>
                    <button type="button" id="exportBtn" class="btn-width btn btn-default">导出</button>
                    <button type="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                            class="btn-width btn btn-default" id="evaluateData">统计信息</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</div>
<div class="row-fluid"><!--普通用户查询工单结果表-->
    <div class="col-lg-12" sec:authorize="hasRole('ROLE_USER')">
        <div class="bs-example form-bottom-style" data-example-id="striped-table">
            <table id="cycleTable" class="table table-hover table-striped" style="width: 100%">
            </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination page-style" style="margin-top: 0px;margin-bottom: 20px" id="cycleDiv">
                <li><a href="javascript:return false;" style="cursor: default">记录数：<span id="emTotalCnt">0</span> 条</a></li>
                <li><a href="javascript:return false;" style="cursor: default">共 <span id="emTotalPageCnt">0</span> 页</a></li>
                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('first',submitCondition,'workOrderClosedCycleForm','cycleDiv')">首页</a>
                </li>

                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('back',submitCondition,'workOrderClosedCycleForm','cycleDiv')"
                       aria-label="Previous">
                    <span aria-hidden="true">上一页</span></a></li>

                <li><a disabled="true">第 <input type="text" id="showCurrentPage" class="paging_input_text form-control"
                                                value="0"/> 页</a></li>
                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('num',submitCondition,'workOrderClosedCycleForm','cycleDiv')">GO</a></li>

                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('next',submitCondition,'workOrderClosedCycleForm','cycleDiv')"
                       aria-label="Next">
                    <span aria-hidden="true">下一页</span></a></li>

                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('last',submitCondition,'workOrderClosedCycleForm','cycleDiv')">末页</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row-fluid"><!--管理员查询工单结果-->
    <div class="col-lg-12" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="bs-example form-bottom-style" data-example-id="striped-table">
            <table id="cycleAdminTable" class="table table-hover table-striped" style="width: 100%">
            </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination page-style" style="margin-top: 0px;margin-bottom: 20px" id="cycleAdminDiv">
                <li><a href="javascript:return false;" style="cursor: default">记录数：<span id="emTotalCnt">0</span> 条</a></li>
                <li><a href="javascript:return false;" style="cursor: default">共 <span id="emTotalPageCnt">0</span> 页</a></li>
                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('first',submitCondition,'workOrderClosedCycleForm','cycleAdminDiv')">首页</a>
                </li>

                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('back',submitCondition,'workOrderClosedCycleForm','cycleAdminDiv')"
                       aria-label="Previous">
                    <span aria-hidden="true">上一页</span></a></li>

                <li><a disabled="true">第 <input type="text" id="showCurrentPage" class="paging_input_text form-control"
                                                value="0"/> 页</a></li>
                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('num',submitCondition,'workOrderClosedCycleForm','cycleAdminDiv')">GO</a></li>

                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('next',submitCondition,'workOrderClosedCycleForm','cycleAdminDiv')"
                       aria-label="Next">
                    <span aria-hidden="true">下一页</span></a></li>

                <li><a ondragstart="return false" href="javascript:void(0);" style="cursor: pointer"
                       onclick="showListViewByPage('last',submitCondition,'workOrderClosedCycleForm','cycleAdminDiv')">末页</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row style-select modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" style="margin-top: 1px">
                <div class="row">
                    <div class="col-xs-5">
                        <h5 class="modal-title" id="myModalLabel1"></h5>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-5">
                        <h5 class="modal-title" id="myModalLabel2"></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <select name="from[]" id="search" class="form-control" size="16" multiple="multiple"
                                style="height: 280px; width: 220px; overflow: auto;"></select>
                    </div>

                    <div class="col-xs-2">
                        <br>
                        <button type="button" id="search_rightSelected" class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                        <br>
                        <button type="button" id="search_rightAll" class="btn btn-block">
                            <i class="glyphicon glyphicon-forward"></i>
                        </button>
                        <br> <br> <br>
                        <button type="button" id="search_leftAll" class="btn btn-block">
                            <i class="glyphicon glyphicon-backward"></i>
                        </button>
                        <br>
                        <button type="button" id="search_leftSelected" class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                    </div>

                    <div class="col-xs-5">
                        <select name="to[]" id="search_to" class="form-control" size="16" multiple="multiple"
                                style="height: 280px; width: 220px; overflow: auto;"></select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div style="float: left; margin-top: -10px; margin-bottom: -20px">
                    <p id="searching"></p>
                </div>
                <div style="float: right; margin-top: -10px; margin-bottom: -20px">
                    <div class="form-group form-inline">
                        <input type="button" id=ensure class="form-control  btn btn-success" value="确定"/>
                        <input type="button" id=cancle class="form-control  btn btn-info" data-dismiss="modal"
                               value="取消"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--普通用户查看、处理工单-->
<div class="row  modal fade" id="showDetail" tabindex="-2" role="dialog" aria-labelledby="showDetailLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="updateWorkOrder">
            <div class="modal-header" style="background: #FFFFFF">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">工单处理</h4>
            </div>
            <div class="modal-body" style="margin-top: 1px;background: #FFFFFF">

                    <div class="row-fluid">
                        <div class="col-lg-12 form-group input-group">
                            <span class="input-group-addon" >工单：</span><input type="text" readonly id="orderId" class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group" style="float:left;padding-right: 5px">
                            <span class="input-group-addon">日期：</span><input type="text" readonly id="orderDate"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">BSC：</span><input type="text" readonly id="orderBsc"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span  class="input-group-addon">CELL：</span><input type="text" readonly id="orderCell"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span  class="input-group-addon">中文名：</span><input type="text" readonly id="orderChinese"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;;padding-right: 5px">
                            <span class="input-group-addon">代维：</span><input type="text" readonly id="orderMaintain" class="form-control"/>
                        </div>

                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">指标名：</span><input type="text" readonly id="orderIndexName"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span class="input-group-addon">指标值：</span><input type="text" readonly id="orderIndexValue"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">退单次数：</span>
                            <input type="text" id="orderHandleCount" class="form-control" readonly/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span class="input-group-addon">工单状态：</span>
                            <select  id="orderStatus" class="form-control " readonly>
                            </select>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">处理人：</span><input type="text" id="orderHandler" class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span class="input-group-addon">处理结果：</span>
                            <select  id="orderHandleRult" class="form-control " >
                            </select>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">指定负责人：</span>
                            <select  id="orderAdmin" class="form-control">
                            </select>
                        </div>
                        <div class="col-lg-12 form-group input-group">
                            <span>处理方法：</span>
                            <textarea id="handleMethod" style="width: 568px;height: 100px">
                            </textarea>
                        </div>

                    </div>

            </div>
            <div class="modal-footer">
                <div  style="border:none">
                    <input type="button" id="applyForHangUp" class="btn btn-primary btn-width" style="display: none" value="申请挂起"/>
                    <input type="button" id="cancelHangUp" class="btn btn-warning btn-width" style="display: none;width: 105px"  value="申请撤销挂起"/>
                    <input type="button" id="updateOrderBtn" class="btn btn-success btn-width" style="display: none" value="提交处理"/>
                    <input type="button" id=cancel class="btn btn-default btn-width" data-dismiss="modal" value="取消"/>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!--管理员查看并管理工单-->
<div class="row  modal fade" id="showManageDetail" tabindex="--3" role="dialog" aria-labelledby="showManageDetailLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="updateManageWorkOrder">
                <div class="modal-header" style="background: #FFFFFF">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">工单管理</h4>
                </div>
                <div class="modal-body" style="margin-top: 1px;background: #FFFFFF">

                    <div class="row-fluid">
                        <div class="col-lg-12 form-group input-group">
                            <span class="input-group-addon" >工单：</span><input type="text" readonly id="orderManId" class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group" style="float:left;padding-right: 5px">
                            <span class="input-group-addon">日期：</span><input type="text" readonly id="orderManDate"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">BSC：</span><input type="text" readonly id="orderManBsc"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span  class="input-group-addon">CELL：</span><input type="text" readonly id="orderManCell"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span  class="input-group-addon">中文名：</span><input type="text" readonly id="orderManChinese"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span class="input-group-addon">代维：</span><input type="text" readonly id="orderManMaintain" class="form-control"/>
                        </div>

                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">指标名：</span><input type="text" readonly id="orderManIndexName"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span class="input-group-addon">指标值：</span><input type="text" readonly id="orderManIndexValue"  class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">处理结果：</span>
                            <select  id="orderManHandleRult" readonly class="form-control " >
                            </select>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span class="input-group-addon">退单次数：</span>
                            <input type="text" id="orderManHandleCount" readonly class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">负责人：</span><input type="text" id="orderManAdmin" readonly class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left;padding-right: 5px">
                            <span class="input-group-addon">处理人：</span>
                            <input type="text" id="orderManHandler" readonly class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">当前工单状态：</span>
                            <input type="text" id="orderManStatusCurrent" class="form-control " readonly/>

                        </div>
                        <div class="col-lg-6 form-group input-group"  style="float:left">
                            <span class="input-group-addon">修改工单状态：</span>
                            <select  id="orderManStatus" class="form-control " >
                            </select>
                        </div>

                        <div class="col-lg-12 form-group input-group">
                            <span>处理方法：</span>
                            <textarea id="handleManMethod" style="width: 568px;height: 100px;background-color: #EEEEEE" readonly>
                            </textarea>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" id="giveBack" class="btn btn-danger btn-width" style="display: none" value="退单"/>
                    <input type="button" id="agreeHangUp" class="btn btn-primary btn-width" style="display: none" value="同意挂起"/>
                    <input type="button" id="refuseHangUp" class="btn btn-warning btn-width" style="display: none" value="拒绝挂起"/>
                    <input type="button" id="agreeCancelHangUp" class="btn btn-primary btn-width" style="display: none;width: 105px" value="同意撤销挂起"/>
                    <input type="button" id="ensureOrder" class="btn btn-success btn-width" style="display: none" value="确认"/>
                    <input type="button" class="btn btn-default btn-width" data-dismiss="modal" value="取消"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>