<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="base :: common_header(~{::title},~{::link},~{::meta},~{::script})">
    <title>工单批量处理</title>
    <!--自定义-->
    <script src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script src="/static/js/query/workOrderBatch.js" th:src="@{/js/query/workOrderBatch.js}"></script>
    <link>
</head>
<body>
<div id="loading" class="loading" style="display:none">加载中...</div>
<div id="info" class="info-style" style="display:none"></div>
<div class="row-fluid" style="margin:50px 50px">
    <p sec:authorize="hasRole('ROLE_USER')">
        请上传工单处理Excel文件（.xls或.xlsx格式）,填写“处理人”（当前用户中文名），“处理方法”，“处理结果”，
        负责“管理员”（管理员中文名），<br>其中处理结果可选填“正在处理”，“已完成”中的一项（请按要求填写）。</p><br>
    <p sec:authorize="hasRole('ROLE_ADMIN')">
        <span>请上传工单管理Excel文件（.xls或.xlsx格式）,填写工单状态,管理员（当前用户中文名）,退单次数不填，<br>
        工单状态可选填“完结”,“退单”中的一项,其他项均不填。（请按要求填写）</span>
    </p><br>
    <form id="orderBatchForm"  action="processWorkOrderBatch" target="myIframe" method="post" enctype="multipart/form-data">

        <input type='button' class='btn btn-info' value='选择工单文件...' />
        <input  type="file" name="file" id="file" class="file"
                size="30" onchange="document.getElementById('textfield').value=this.value"/>
        <input type='text' name='textfield' id='textfield' readonly class='txt' />
        <br><br><br>
        <button id="workOrderBatchBtn"
                class="btn  btn-default" style="height: 35px;width: 100px">提交处理</button>
    </form>
    <br>
    <iframe id="myIframe" name="myIframe" scrolling="no" style="border:none;"></iframe>
</div>
</body>
</html>